[submodule "dbt_projects/jaffle_shop"]
	path = dbt_projects/jaffle_shop
	url = https://github.com/dbt-labs/jaffle_shop.git
[submodule "dbt_projects/poffertjes_shop"]
	path = dbt_projects/poffertjes_shop
	url = https://github.com/tjwaterman99/poffertjes_shop
